
// Colors:

$itgwo-bg: rgb(254, 240, 186); // #FEF0BA;
$menu-active: rgb(255, 235, 160);

$fa-font-path:        "../fonts";
$font: 'roboto_condensedregular', sans-serif;

$blok-bands: rgb(20, 106, 184);
$blok-dj: lighten(desaturate($blok-bands, 15), 15);
$blok-tussen-dj: desaturate(lighten($blok-bands, 38), 33);

$blok-kunst: lighten(rgb(244, 110, 130), 8);  // desaturate(lighten($blok-bands, 30), 50);
$blok-film: lighten(rgb(77, 114, 110), 15); // desaturate(lighten($blok-bands, 50), 60);
$blok-anders: desaturate(lighten($blok-film, 20), 5);

// #fe6c78
// #750E0C
// #1951fe
// #096BB2

// #006AD1
// #0095E6
// #0095E6
