
// Colors:

$magenta                : #EC008B;
$blue                   : #00AEEF;
$green                  : #76A736;
$yellow                 : #CB7C17;
$gold                   : #AE9962;


// Colors linked to themes

$ceremonieel-color      : $magenta;
$mensenwerk-color       : $blue;
$openbaarheid-color     : $green;
$huisvesting-color      : $yellow;
