@import "settings";
@import "foundation";
@import "variables";
@import "timetable";
@import "font-awesome.scss";
@import "addtohomescreen.scss";

// Font

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// --[ off-canvas exit overlay ]------------------------------------------------
// Functionality inspired from Foundation 5. Shows when opening the off-canvas
// menu. User is then always forced to close it. Also easier to hit than the
// tiny close button

.off-canvas {
    background: #000;

    // Het hoofdmenu
    .grid-content {
        padding: 0;
        top: 0;
        width: 100%;
        position: absolute;
    }

    .offcanvas-footer {
        top: 0;
        height: 98vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
    }

}

.offcanvas-exit {
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.off-canvas.is-active + div > .offcanvas-exit {
    background: #000;
    background-size: cover;
    display: block;
    visibility: visible;
    opacity: 0.6;
    cursor: pointer;
    transition-delay: 0s;
}

.off-canvas ~ .grid-frame {
    background: $itgwo-bg;
}

.off-canvas.is-active ~ .grid-frame {
    filter: blur(1px);
    box-shadow: none;
}


.menu-bar {
    background: #000;

    li > a {
        color: #FFF;
        font-weight: bold;
        font-family: $font;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    li.is-active > a,
    li > a:hover {
        background-color: $menu-active;
    }

    li.hoewerkt > a > span {
        font-size: 0.85em;
        text-transform: none;
        letter-spacing: 0.5px;
    }

}

#logo {
    width: 100%;
    padding: 10% 20% 10% 20%;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: $font;
}

h2 {
    font-family: $font;
}

h3 {
    font-family: $font;
    text-transform: uppercase;
}

p {
    font-family: Georgia, serif;
}

hr {
    height: 1px;
    border-top: 1px solid #000;
    border-bottom: 0px;
    margin: 14px 5px 14px;
}

.title-bar.dark,
.title-bar {
    border-bottom: 0px;
    font-family: $font;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 1);
    color: #fff;

    a,
    a:hover,
    a:active {
        color: #fff;
        padding: 12px;
        margin-left: -12px;
    }

    .title {
        font-weight: normal;
        letter-spacing: -.03rem;
    }
}

// --[ structure & elements ]-----------------------------------------------------------------

.grid-container {
    max-width: 768px;
}

div.grid-headerimage {
    padding: 0;
    background-color: #CCC;
}

div.grid-content {
    padding: 0em 0.5em;
}

div.grid-content.main {
    padding: 0.7em 1em 0em 1em;
}




// --[ .special header - header met blokkenkoppen]

article {
    position: relative;

    header.special-header {


        h1,h2 {
            padding: 0.1rem 0.8rem;
            /* background: transparentize(darken($itgwo-bg, 10), 0.3); */
            background: transparent;
            color: #000;
            margin: 0;
        }

        h1 {
            font-size: 1.6rem;
            bottom: 2rem;
            width: auto;
        }

        h2 {
            font-size: 1rem;
            bottom: 0;
            width: auto;

        }
    }
}


// --[ homepage ]-----------------------------------------------------------------

h1.logo {
    font-size: 1.25em;
    padding: 1rem 0;
}

.page-home .pageheader {
    text-align: center;
}

.page-home .content-berichten {

    margin-bottom: 2px;

    article {
        height: 96px;
        border-bottom: none;
        overflow: hidden;
    }

    img {
        float: left;
        border: 1px solid desaturate(darken($itgwo-bg, 10), 20);
        margin: 2px 10px 0px 4px;
    }


    h1 {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 19px;
    }

    h2 {
        font-size: 0.9em;
        line-height: 19px;
        margin: 0;
        color: #000;
    }

}

.beta {
    position: absolute;
    right: 5px;
    top: 7px;
    z-index: 200;
    width: 76px;
    height: 42px;
    padding-top: 3px;
    text-align: center;
    border: 1px solid desaturate(darken($itgwo-bg, 40), 20);
    background-color: darken($itgwo-bg, 10);
    transform: rotate(6deg);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    a {
        display: inline-block;
        font-size: 0.75rem;
        line-height: 1.1rem;
        font-family: $font !important;
        text-transform: uppercase;
    }

}


// --[ Plattegrond ] ---------------

body.plattegrond,
body.plattegrond .grid-block {
    background-color: #555;

    .panzoom-parent {
        width: 100%;
    }

}

a.legenda-button {
    position: absolute;
    width: 94px;
    height: 34px;
    right: 2px;
    top: 18px;
    z-index: 90;
    background: rgba(0,0,0,.4);
    padding: 9px 4px 0;
}

#legendaPanel {

    a {
        font-size: 1rem;
    }

    div {
        padding: 40px 6px 4px 12px;

        ol li {
            font-size: 0.85rem;
            line-height: 1.1rem;
        }

    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    ol {
        margin-left: 27px;
    }

}

// --[ Bericht item ]--------------------------------------------------------------

.page-bericht {

    p {

        a {
            text-decoration: underline;
            color: #000;
        }

    }
}


// --[ Programma ]--------------------------------------------------------------



.page-programma {


    padding-right: 6px;


    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 12px 0 12px 8px;
    }

    .navigation a {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding: 7px 0px;
        text-decoration: none;
        color: #000;
        background: rgba(0,0,0,.2);
        width: 18%;
        font-size: 0.8em;
        text-transform: uppercase;
    }
    .navigation a:hover {
        background: rgba(0,0,0,.4);
        color: #000;
    }
    .navigation a.active {
        background: rgba(0,0,0,1);
        color: #fff;
    }

    .fa {
        font-size: .7rem;
    }



    .content-act {

        padding-right: 0;

        article {
            height: 140px;
            background-color: #888;
            bottom: 0;
            margin-bottom: 6px;
        }

        img {
            float: left;
            margin-right: 0.5em;
        }

        .caption {
            background-color: rgba(0, 0, 0, 0.8);
            bottom: 0;
            position: absolute;
            width: 100%;
        }

        span {
            color: rgba(0, 0, 0, 0);
        }

        h1 {
            font-size: 0.9em;
            margin: 2px 4px 4px 4px;
            line-height: 1.2em;
            color: $itgwo-bg;
            font-weight: bold;
            text-transform: uppercase;
            font-family: $font;
        }

        h2 {
            font-size: 0.75em;
            line-height: 1.2em;
            margin: 4px 4px 0 4px;
            color: $itgwo-bg;
            font-family: $font;
        }

    }

}

// --[ Styles for 'debuglog' ]--------------------------------------------------

.debuglink {
    color: #555;
    font-size: 0.8em;
    padding-left: 8px;
}

.debuglog {
    font-family: "Menlo", monospaced;
    font-size: 0.8em;
    width: 100%;
    height: 500px;

}

.twokingslogo {
    width: 80px;
    margin: 0 auto 12px;
}


// --[ Styles for 'responsive video embeds' ]-----------------------------------

.responsive-video {
    height: 0; padding-top: 25px; padding-bottom: 67.5%; margin-bottom: 10px; position: relative; overflow: hidden;
}
.responsive-video.vimeo {
    padding-top: 0;
}
.responsive-video.widescreen {
    padding-bottom: 57.25%;
}
.responsive-video embed, .responsive-video iframe, .responsive-video object, .responsive-video video {
    top: 0; left: 0; width: 100%; height: 100%; position: absolute;
}
@media (max-width: 767px) {

    .responsive-video {

        padding-top: 0;
    }
}

// --[ loader ]-----------------------------------------------------------------

.loader {
    // visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.80);
    z-index: 1000;
}

// --[ spinner ]----------------------------------------------------------------
// Source: http://projects.lukehaas.me/css-loaders/
// Replace with something else in the future. Perhaps a moving "200 Jaar" with
// particles thingie.

.spinner:before,
.spinner:after,
.spinner {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.spinner {
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.spinner:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner:after {
    left: 3.5em;
}
.spinner:before,
.spinner:after {
    content: '';
    position: absolute;
    top: 0;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #ffffff;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #ffffff;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #ffffff;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #ffffff;
    }
}