body {
    font-family: Georgia, serif;
}

<<<<<<< Updated upstream
=======
h1, h2, h3, h4, h5 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

    
.mediacontainer {
    
    img {
        width: 100%;
        display: inline-block;
    }

}
>>>>>>> Stashed changes
