body {
    font-family: Georgia, serif;
    background: #ffffba;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

p {
    line-height: 1.3;
}

h1, h2, h3, h4, h5 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.3;
}


.mediacontainer {
    margin-right: 1rem;
    margin-top: .25rem;

    img {
        width: 100%;
        display: inline-block;
    }

}

.grid-content {
    padding: 1rem 1.5rem 0 1.5rem;
}

.off-canvas ~ .grid-frame {
    background: transparent;
}

.grid-block.itemlist {
    margin-bottom: 1rem;
}

iframe {
    border: none;
    width: 100%;
    min-height: 38rem;
    overflow: hidden;
}

td {
    padding-top: 16px;
}