

/* ==========================================================================
   Timetable
   ========================================================================== */

#timetable {
    width: 100%;
    cursor: hand;
    overflow: hidden;
    text-align: center;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .scroll-container {
        overflow: auto;
        cursor: move;
        -webkit-overflow-scrolling: touch;
        background-color: desaturate(darken($itgwo-bg, 10), 20);
    }
    .scroll-container-touch {
        overflow-x: scroll;
        cursor: default;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 12px 8px 12px 8px;
    }

    .navigation a {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding: 7px 0px;
        text-decoration: none;
        color: #000;
        background: rgba(0,0,0,.2);
        width: 22%;
        font-size: 0.8em;
        text-transform: uppercase;
    }
    .navigation a:hover {
        background: rgba(0,0,0,.4);
        color: #000;
    }
    .navigation a.selected {
        background: rgba(0,0,0,1);
        color: #fff;
    }

    .locations {
        position: absolute;
        top: 20px;
        z-index: 10;
        width: 70px;
    }
    .locations .location {
        background-color: #fff;
        height: 56px;
        width: 70px;
        text-transform: uppercase;
        font-size: 19px;
        line-height: 21px;
        font-family: $font;
        text-align: right;
        font-weight: bold;
        color: #333;
        padding: 6px 2px 0 0;
        border-top: 1px solid #eceef1;
        border-right: 2px solid #eceef1;
    }

    .locations .location small {
        font-size: 82%;
        color: #333;
    }

    .locations .location em {
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        color: #333;
        font-style: normal;
    }

    .locations .location.voetbalkooi,
    .locations .location.dorpsstraat,
    .locations .location.strandtuin  {
        padding-top: 4px;
        height: 36px;
    }

    .locations .location.kerk  {
        padding-top: 17px;
    }

}

#timetableblocks {
    z-index: 1000;

    .timeLayer .hour {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        padding-top: 2px;
        text-align: right;
        font-family: $font;
        font-size: 0.8em;
        color: desaturate(darken($itgwo-bg, 60), 30);
    }

    .timeLayer .time {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        position: relative;
        right: -25px;
        text-align: center;
    }

    .row {
        position: relative;
        height: 56px;
        width: 100%;
    }

    .row:nth-child(even) {
        background: lighten($itgwo-bg, 5);
    }

    .row:nth-child(odd) {
        background: destaturate(darken($itgwo-bg, 5), 10);
    }

    .row .hour {
        display: inline-block;
        vertical-align: middle;
        border-right: 1px solid desaturate(darken($itgwo-bg, 30), 30);
        height: 100%;
        text-align: right;
    }



    .layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .act {
        border-radius: 1px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        background-color: $blok-bands;
        margin: 0px;
        height: 56px;
        color: white;
        border-collapse: collapse;
        line-height: 52px;
        cursor: pointer;
        border: 1px solid darken($blok-bands, 5);
    }

    .dj {
        background-color: $blok-dj;
        border: 1px solid darken($blok-dj, 5);
    }


    .kunst {
        background-color: $blok-kunst;
        border: 1px solid darken($blok-kunst, 5);
    }

    .act-de-staat-1 {
        transform: rotate(-3deg);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    }

    .act-meindert-talma {
        font-size: 0.75em;
    }

    .act:hover {
        background-color: #9ad7e3;
    }

    .act .spanText {
        display: inline-block;
        vertical-align: middle;
        word-wrap: normal;
        white-space: normal;
        font-family: $font;
        font-size: 0.85em;
        text-overflow: ellipsis;
        text-align: center;
        overflow: hidden;
        line-height: 1.1em;
        padding: 2px;
        margin-top: -2px;
        max-height: 50px;
        box-sizing: border-box;
        color: #FFF;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }

    .act.favorite {
        background-color: #a82254;
    }

    .act.favorite .spanText {
      color: #ffffff;
    }

    .act.favorite:hover {
        background-color: #F071A6;
    }

    .row.voetbalkooi,
    .row.dorpsstraat,
    .row.strandtuin,
    .row.voetbalkooi .act,
    .row.dorpsstraat .act,
    .row.strandtuin .act  {
        height: 36px;
    }

    .row.voetbalkooi .act .spanText,
    .row.dorpsstraat .act .spanText,
    .row.strandtuin .act .spanText  {
        margin-top: -21px;
    }

}

#timetablePopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1050;
}

