<div class="grid-block small-up-1 large-up-2">
<div class="grid-block small-up-1">

    <div class="grid-content" style="overflow:visible">
        <div class="beeld-container">
           <img src="http://placekitten.com/g/1000/250">
           
           <div class="meta-info">
               
               <div class="wrapper">
                   
                   <div class="column">
                       <span class="nummer">
                          <span>1</span>
                       </span>
                       <span class="wijk">2</span>
                   </div>
                   <div class="column">
                       <span class="titel">
                            <h2>Hofje van Nieuwkoop</h2>
                       </span>
                   </div>               
               </div>
           </div> 
        </div>
        <a ui-sref="monumenten detail">
            <div class="card-section">
                <h4>Warmoezierstraat 44-206</h4>
                <p>Vandaag open: 11:00 - 17:00</p>
            </div>
        </a>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Verum hoc idem saepe faciamus. Vitiosum est enim in dividendo partem in genere numerare. </p>

            <p>Nulla erit controversia. Neque solum ea communia, verum etiam paria esse dixerunt. An hoc usque quaque, aliter in vita? Quae cum essent dicta, finem fecimus et ambulandi et disputandi. Tollitur beneficium, tollitur gratia, quae sunt vincla concordiae. </p>

            <p>Restatis igitur vos; Amicitiam autem adhibendam esse censent, quia sit ex eo genere, quae prosunt. Piso, familiaris noster, et alia multa et hoc loco Stoicos irridebat: Quid enim? Duo Reges: constructio interrete. Miserum hominem! Si dolor summum malum est, dici aliter non potest. Cum autem negant ea quicquam ad beatam vitam pertinere, rursus naturam relinquunt. </p>

            <p>Quod autem satis est, eo quicquid accessit, nimium est; Tecum optime, deinde etiam cum mediocri amico. Facillimum id quidem est, inquam. Sed in rebus apertissimis nimium longi sumus. Ita ne hoc quidem modo paria peccata sunt. Hoc ipsum elegantius poni meliusque potuit. Suo enim quisque studio maxime ducitur. Et quod est munus, quod opus sapientiae? Eadem nunc mea adversum te oratio est. Tenesne igitur, inquam, Hieronymus Rhodius quid dicat esse summum bonum, quo putet omnia referri oportere? </p>

            <p>Nemo nostrum istius generis asotos iucunde putat vivere. Quod si ita sit, cur opera philosophiae sit danda nescio. Negat esse eam, inquit, propter se expetendam. Ergo illi intellegunt quid Epicurus dicat, ego non intellego? Claudii libidini, qui tum erat summo ne imperio, dederetur. Hoc ille tuus non vult omnibusque ex rebus voluptatem quasi mercedem exigit. Sed haec nihil sane ad rem; Quis est, qui non oderit libidinosam, protervam adolescentiam? Suo genere perveniant ad extremum; Et quidem, inquit, vehementer errat; </p>

       </div>
    </div>
</div>

<div class="grid-block small-up-1 medium-up-2">

    <div class="grid-content">
        <div class="beeld-container">
           <img src="http://placekitten.com/g/400/250">
           
           <div class="meta-info">
               
               <div class="wrapper">
                   
                   <div class="column">
                       <span class="nummer">
                          <span>44</span>
                       </span>
                       <span class="wijk">2</span>
                   </div>
                   <div class="column">
                       <span class="titel">
                            <h2>Hofje van Nieuwkoop</h2>
                       </span>
                   </div>               
               </div>
           </div> 
        </div>
        <a ui-sref="monumenten detail">
            <div class="card-section">
                <h4>Warmoezierstraat 44-206</h4>
                <p>Vandaag open: 11:00 - 17:00</p>
            </div>
        </a>
        <div>
            <p>Nulla erit controversia. Neque solum ea communia, verum etiam paria esse dixerunt. An hoc usque quaque, aliter in vita? Quae cum essent dicta, finem fecimus et ambulandi et disputandi. Tollitur beneficium, tollitur gratia, quae sunt vincla concordiae. </p>

            <p>Restatis igitur vos; Amicitiam autem adhibendam esse censent, quia sit ex eo genere, quae prosunt. Piso, familiaris noster, et alia multa et hoc loco Stoicos irridebat: Quid enim? Duo Reges: constructio interrete. Miserum hominem! Si dolor summum malum est, dici aliter non potest. Cum autem negant ea quicquam ad beatam vitam pertinere, rursus naturam relinquunt. </p>

            <p>Quod autem satis est, eo quicquid accessit, nimium est; Tecum optime, deinde etiam cum mediocri amico. Facillimum id quidem est, inquam. Sed in rebus apertissimis nimium longi sumus. Ita ne hoc quidem modo paria peccata sunt. Hoc ipsum elegantius poni meliusque potuit. Suo enim quisque studio maxime ducitur. Et quod est munus, quod opus sapientiae? Eadem nunc mea adversum te oratio est. Tenesne igitur, inquam, Hieronymus Rhodius quid dicat esse summum bonum, quo putet omnia referri oportere? </p>

            <p>Nemo nostrum istius generis asotos iucunde putat vivere. Quod si ita sit, cur opera philosophiae sit danda nescio. Negat esse eam, inquit, propter se expetendam. Ergo illi intellegunt quid Epicurus dicat, ego non intellego? Claudii libidini, qui tum erat summo ne imperio, dederetur. Hoc ille tuus non vult omnibusque ex rebus voluptatem quasi mercedem exigit. Sed haec nihil sane ad rem; Quis est, qui non oderit libidinosam, protervam adolescentiam? Suo genere perveniant ad extremum; Et quidem, inquit, vehementer errat; </p>
        </div>
    </div>

    <div class="grid-content">
        <div class="beeld-container">
           <img src="http://placekitten.com/g/400/250">
           
           <div class="meta-info">
               
               <div class="wrapper">
                   
                   <div class="column">
                       <span class="nummer">
                          <span>44</span>
                       </span>
                       <span class="wijk">2</span>
                   </div>
                   <div class="column">
                       <span class="titel">
                            <h2>Hofje van Nieuwkoop</h2>
                       </span>
                   </div>               
               </div>
           </div> 
        </div>
        <a ui-sref="monumenten detail">
            <div class="card-section">
                <h4>Warmoezierstraat 44-206</h4>
                <p>Vandaag open: 11:00 - 17:00</p>
            </div>
        </a>
    </div>

    <div class="grid-content">
        <div class="beeld-container">
           <img src="http://placekitten.com/g/400/250">
           
           <div class="meta-info">
               
               <div class="wrapper">
                   
                   <div class="column">
                       <span class="nummer">
                          <span>44</span>
                       </span>
                       <span class="wijk">2</span>
                   </div>
                   <div class="column">
                       <span class="titel">
                            <h2>Hofje van Nieuwkoop</h2>
                       </span>
                   </div>               
               </div>
           </div> 
        </div>
        <a ui-sref="monumenten detail">
            <div class="card-section">
                <h4>Warmoezierstraat 44-206</h4>
                <p>Vandaag open: 11:00 - 17:00</p>
            </div>
        </a>
    </div>

    <div class="grid-content">
        <div class="beeld-container">
           <img src="http://placekitten.com/g/400/250">
           
           <div class="meta-info">
               
               <div class="wrapper">
                   
                   <div class="column">
                       <span class="nummer">
                          <span>1</span>
                       </span>
                       <span class="wijk">2</span>
                   </div>
                   <div class="column">
                       <span class="titel">
                            <h2>Hofje van Nieuwkoop</h2>
                       </span>
                   </div>               
               </div>
           </div> 
        </div>
        <a ui-sref="monumenten detail">
            <div class="card-section">
                <h4>Warmoezierstraat 44-206</h4>
                <p>Vandaag open: 11:00 - 17:00</p>
            </div>
        </a>
    </div>

    <div class="grid-content">
        <div class="beeld-container">
           <img src="http://placekitten.com/g/400/250">
           
           <div class="meta-info">
               
               <div class="wrapper">
                   
                   <div class="column">
                       <span class="nummer">
                          <span>44</span>
                       </span>
                       <span class="wijk">2</span>
                   </div>
                   <div class="column">
                       <span class="titel">
                            <h2>Hofje van Nieuwkoop</h2>
                       </span>
                   </div>               
               </div>
           </div> 
        </div>
        <a ui-sref="monumenten detail">
            <div class="card-section">
                <h4>Warmoezierstraat 44-206</h4>
                <p>Vandaag open: 11:00 - 17:00</p>
            </div>
        </a>
    </div>

    <div class="grid-content">
        <div class="beeld-container">
           <img src="http://placekitten.com/g/400/250">
           
           <div class="meta-info">
               
               <div class="wrapper">
                   
                   <div class="column">
                       <span class="nummer">
                          <span>44</span>
                       </span>
                       <span class="wijk">2</span>
                   </div>
                   <div class="column">
                       <span class="titel">
                            <h2>Hofje van Nieuwkoop</h2>
                       </span>
                   </div>               
               </div>
           </div> 
        </div>
        <a ui-sref="monumenten detail">
            <div class="card-section">
                <h4>Warmoezierstraat 44-206</h4>
                <p>Vandaag open: 11:00 - 17:00</p>
            </div>
        </a>
    </div>

    <div class="grid-content">
        <div class="beeld-container">
           <img src="http://placekitten.com/g/400/250">
           
           <div class="meta-info">
               
               <div class="wrapper">
                   
                   <div class="column">
                       <span class="nummer">
                          <span>1</span>
                       </span>
                       <span class="wijk">2</span>
                   </div>
                   <div class="column">
                       <span class="titel">
                            <h2>Hofje van Nieuwkoop</h2>
                       </span>
                   </div>               
               </div>
           </div> 
        </div>
        <a ui-sref="monumenten detail">
            <div class="card-section">
                <h4>Warmoezierstraat 44-206</h4>
                <p>Vandaag open: 11:00 - 17:00</p>
            </div>
        </a>
    </div>
</div>

</div>


<!-- 
<div class="grid-block small-up-1 medium-up-2 large-up-4">

    <div class="grid-content anekdote" ng-repeat="anekdote in anekdotes" data-position="{{ anekdote.attributes.timelineposition }}" style="display:block;">
        <a ui-sref="anekdote({ id: anekdote.attributes.slug })">
            <div class="card dark">
                <img ng-src="{{ anekdote.attributes.image.thumbnail }}">
                <div class="card-divider">
                    <span class="label dark">{{ anekdote.attributes.timelinetitle }}</span><br>
                    <h3>{{ anekdote.attributes.title }}</h3>
                </div>
                <div class="card-section" ng-bind-html='anekdote.attributes.teaser'>
                </div>
            </div>
        </a>
    </div>

</div>
 -->