
<div class="grid-block" ng-if="thema">
    <div class="grid-container page-home">

        <!-- header -->
        <div class="grid-content">
            <article>
                <img ng-src="{{ thema.attributes.image.thumbnail }}">
                <header class="special-header">
                    <h1>themename</h1>
                    <h2>subtitle </h2>
                </header>
            </article>
        </div>

        <!-- grid left and right columns -->
        <div class="grid-block small-up-1 medium-up-2 large-up-2">

            <div class="grid-content">
                <div class="body" ng-bind-html='thema.attributes.body'>
                </div>
            </div>

            <div class="grid-content">

                <!-- grid voor opsomming onderwerpen -->
                <div class="grid-block small-up-1 medium-up-1 large-up-1">

                    <div class="grid-content" ng-repeat="onderwerp in onderwerpen">
                        <a ui-sref="onderwerp({ id: onderwerp.attributes.slug })">
                            <article>
                                <img ng-src="{{ onderwerp.attributes.image.thumbnail }}">
                                <header>
                                    <h1>{{ onderwerp.attributes.title }}</h1>
                                    <div ng-bind-html='onderwerp.attributes.teaser'>
                                    </div>
                                </header>
                            </article>
                        </a>
                    </div>

                </div>

            </div>

        </div>


         <!-- QR knop -->
         <div class="grid-content content-actie">
            <a class="button" ui-sref="#">
                Scan QR code
            </a><br />
            <a>Hoe gebruik je deze app?</a>
        </div>

    </div>
</div>


