
<div class="grid-block small-up-1 medium-up-2 large-up-4">
    <div class="grid-content anekdote" ng-repeat="anekdote in anekdotes" data-position="{{ anekdote.attributes.timelineposition }}" style="display:block;">
        <a ui-sref="anekdote({ id: anekdote.attributes.slug })">
            <div class="card dark">
                <img ng-src="{{ anekdote.attributes.image.thumbnail }}">
                <div class="card-divider">
                    <span class="label dark">{{ anekdote.attributes.timelinetitle }}</span><br>
                    <h3>{{ anekdote.attributes.title }}</h3>
                </div>
                <div class="card-section" ng-bind-html='anekdote.attributes.teaser'>
                </div>
            </div>
        </a>
    </div>
</div>
