---
name: anekdote
url: /anekdotes/:id?p=
controller: itgwo.controller.anekdotes
title: Anekdotes
---

<div class="grid-block vertical large-horizontal">
    <div>
        <div class="grid-content small-12 medium-12 large-6" ng-if="anekdote">
            <div class="dark card">
                <img ng-src="{{ anekdote.attributes.image.url }}">
                <div class="card-divider">
                    <a ui-sref="home()"><span class="label">Home</span></a> &raquo;
                    <a get-thema="anekdote.attributes.taxonomy.onderwerpen|key|slug"></a> &raquo;
                    <a ng-href="{{$state.href('onderwerp', { id: (anekdote.attributes.taxonomy.onderwerpen|key|slug) })}}"><span class="label">{{ anekdote.attributes.taxonomy.onderwerpen|value }}</span></a>
                    <h2>{{ anekdote.attributes.title }}</h2>
                </div>
                <div class="card-section" ng-bind-html='anekdote.attributes.body'>
                </div>
            </div>
        </div>
    </div>
</div>
