---
name: bericht
url: /bericht/:id?p=
controller: itgwo.controller.berichten
title: Berichten
---

<div class="grid-block" ng-if="bericht">
    <div class="grid-container page-bericht">

        <!-- header -->
        <div class="grid-headerimage">
            <article>
                <img ng-src="{{ bericht.image.thumbnail }}" width="752" height="564">
            </article>
        </div>

        <!-- grid left and right columns -->
        <div class="grid-block small-up-1">

            <div class="grid-content main">
                <header class="special-header">
                    <h1>{{ bericht.title }}</h1>
                    <h2 ng-if="bericht.subtitle != ''">{{ bericht.subtitle }}</h2>
                </header>

                <div class="body" ng-bind-html='bericht.teaser'>
                </div>

                <div class="body" ng-bind-html='bericht.body'>
                </div>
            </div>

            <div class="responsive-video widescreen" ng-if="bericht.video" ng-bind-html="berichtVideo()">
            </div>

            <div class="grid-content embed-container" ng-if="bericht.embed" ng-bind-html="berichtEmbed()">
            </div>

            <p>&nbsp;</p>

        </div>
    </div>
</div>


