---
name: bericht
url: /bericht/:id?p=
controller: itgwo.controller.berichten
title: Nieuws
---

<div class="grid-block" ng-if="bericht">
    <div class="grid-container page-home">

        <!-- header -->
        <div class="grid-content">
            <article>
                <img ng-src="{{ bericht.attributes.image.thumbnail }}">
                <header class="special-header">
                    <h1>{{ bericht.attributes.title }}</h1>
                    <h2 ng-if="bericht.attributes.subtitle != ''">{{ bericht.attributes.subtitle }}</h2>
                </header>
            </article>
        </div>

        <!-- grid left and right columns -->
        <div class="grid-block small-up-1 medium-up-2 large-up-2">

            <div class="grid-content">
                <div class="body" ng-bind-html='bericht.attributes.body'>
                </div>
            </div>


        </div>


    </div>
</div>


