---
name: debug
url: /debug
controller: itgwo.controller.debug
title: Debug
---

<!-- main grid -->
<div class="grid-block">
    <div class="grid-container page-home">

        <div class="grid-block small-up-1 large-up-2">

            <div class="grid-content main">
                <p>Welkom op het supergeheime debug scherm! Whooo, spoooky!</p>

                <ul>
                <li>
                    <small>
                        Berichten: {{ 0 + berichten.length }} items - bijgewerkt: {{ berichten_timestamp | date : 'EEEE H:mm'  }}.
                    </small>
                </li>
                <li>
                    <small>
                        Speeltijden: {{ 0 + speeltijden.length }} items - bijgewerkt: {{ speeltijden_timestamp | date : 'EEEE H:mm'  }}.
                    </small>
                </li>
                <li>
                    <small>
                        Onderdelen: {{ 0 + onderdelen.length }} items - bijgewerkt: {{ onderdelen_timestamp | date : 'EEEE H:mm'  }}.
                    </small>
                </li>

                </ul>


                <button class="button" ng-click="clearLocalForage();">Wis alle cache.</button>


            </div>

            <p>&nbsp;</p>

        </div>
    </div>
</div>
