---
name: home
url: /
controller: itgwo.controller.home
title: ITGWO 2015
---

<!-- main grid -->
<div class="grid-block">
    <div class="grid-container page-home">

        <!-- header -->
        <div class="grid-content">
            <header class="pageheader">
                <h1 class="logo">Berichten</h1>
            </header>
        </div>


        <!-- grid for navigation -->
        <div class="grid-block small-up-1 medium-up-1 large-up-2">
            <div class="grid-content content-berichten" ng-repeat="bericht in berichten">
                <a ui-sref="bericht({ id: bericht.id })">
                    <article class="thema thema-{{ bericht.id }}">
                        <img ng-src="{{ bericht.attributes.image.thumbnail }}" width="90" height="90">
                        <h1 class="">{{ bericht.attributes.title }}</h1>
                        <h2><!-- {{ bericht.attributes.datepublish | date : 'd MMM' }} -->
                        <span ng-if="bericht.attributes.subtitle != ''">{{ bericht.attributes.subtitle }}</span>
                        <span ng-if="bericht.attributes.subtitle == ''">
                            {{ bericht.attributes.teaser | striptags | limitTo : 128 }}…
                        </span>
                        </h2>
                    </article>
                </a>
                <!-- <hr> -->
            </div>

            <p>&nbsp;</p>

        </div>
    </div>
</div>

<script>
// addToHomescreen.removeSession();     // use this to remove the localStorage variable
var ath = addToHomescreen({
    // debug: 'android',           // activate debug mode in ios emulation
    skipFirstVisit: false,  // show at first access
    startDelay: 5,          // display the message right away
    lifespan: 0,            // do not automatically kill the call out
    displayPace: 1440,         // do not obey the display pace
    privateModeOverride: true,  // show the message in private mode
    maxDisplayCount: 0      // do not obey the max display count
});
// ath.clearSession();      // reset the user session
</script>
