---
name: nieuws
url: /nieuws
controller: NewsController
title: Nieuwsoverzicht

---

      
<div class="grid-block itemlist" ng-repeat="bericht in berichten">
    <header class="small-12 header">
        <h3><a ui-sref="bericht({id: bericht.id})"> {{ bericht.title }}</a></h3>
    </header>

    <div class="small-4">
        <div class="mediacontainer">
    	    <a ui-sref="bericht({id: bericht.id})"> <img src="{{ bericht.image.thumbnail }}"></a>
        </div>
    </div>

    <div class="small-8">
        <p><a ui-sref="bericht({id: bericht.id})"> {{ bericht.excerpt }}</a></p>
    </div>
</div>
