---
name: onderdeel
url: /onderdeel/:id?p=
controller: itgwo.controller.programma
title: Programmaonderdeel
---

<div class="grid-block" ng-if="onderdeel">
    <div class="grid-container page-onderdeel">

        <!-- header -->
        <div class="grid-headerimage">
            <article>
                <img ng-src="{{ onderdeel.image.thumbnail }}">

            </article>
        </div>

        <!-- grid left and right columns -->
        <div class="grid-block small-up-1">

            <div class="grid-content main">
                <header class="special-header">
                    <h1>{{ onderdeel.name }}</h1>
                    <!-- <h2 ng-if="onderdeel.subtitle != ''">{{ onderdeel.subtitle }}</h2> -->
                </header>

                <div ng-bind-html='onderdeel.description'>
                </div>
            </div>

            <div class="responsive-video widescreen" ng-if="onderdeel.video" ng-bind-html="onderdeelVideo()">
            </div>

            <div class="grid-content embed-container" ng-if="onderdeel.embed" ng-bind-html="onderdeelEmbed()">
            </div>

            <p>&nbsp;</p>

        </div>


    </div>
</div>


