---
name: onderdeel
url: /onderdeel/:id?p=
controller: itgwo.controller.programma
title: Programmaonderdeel
---

<div class="grid-block" ng-if="onderdeel">
    <div class="grid-container page-onderdeel">

        <!-- header -->
        <div class="grid-headerimage">
            <article>
                <div style="background-image: url({{ onderdeel.image.thumbnail }}); background-size: cover; min-height: 240px;">
                <img ng-src="{{ onderdeel.image.large }}" width="752" height="564">
                </div>
                    <span ng-if="favs[onderdeel.uid]">
                        <a ng-click="removeFavorite(onderdeel.uid)" class="heart-fav">
                            <i class="fa fa-heart"></i>
                        </a>
                    </span>
                    <span ng-if="!favs[onderdeel.uid]">
                        <a ng-click="addFavorite(onderdeel.uid, onderdeel.name)" class="heart-no-fav">
                            <i class="fa fa-heart-o"></i>
                        </a>
                    </span>
            </article>
        </div>

        <!-- grid left and right columns -->
        <div class="grid-block small-up-1">

            <div class="grid-content main">
                <header class="special-header">
                    <h1>{{ onderdeel.name }}</h1>
                    <!-- <h2 ng-if="onderdeel.subtitle != ''">{{ onderdeel.subtitle }}</h2> -->

                </header>

                <p>
                <span ng-repeat="speeltijd in speeltijden" ng-if="speeltijd.attributes.programmaonderdelen == onderdeel.uid">
                    <i class="fa fa-clock-o"></i> {{ speeltijd.attributes.starttijd | date : 'EEEE H:mm' }} - {{ speeltijd.attributes.speellokatie }}<br>
                </span>
                </p>

                <div ng-bind-html='onderdeel.description'>
                </div>
            </div>

            <div class="grid-content video-container" ng-if="onderdeel.video" ng-bind-html="onderdeel.video|embedvideo">
            </div>

            <div class="grid-content embed-container" ng-if="onderdeel.embed" ng-bind-html="onderdeel.embed|raw">
            </div>

            <p>&nbsp;</p>

        </div>


    </div>
</div>


