---
name: plattegrond
url: /plattegrond
controller: itgwo.controller.plattegrond
title: Plattegrond
---

<a href="#" zf-toggle="legendaPanel" class="button legenda-button">Legenda <i class="fa fa-th-list"></i></a>
<div zf-panel="" position="right" id="legendaPanel">
<a zf-close="" class="close-button">Sluit <i class="fa fa-close"></i></a>
<div>
    <h2>Kunstroute <small>(roze zeshoekjes)</small></h2>
    <ol>
    <li>Sara Nuytemans › Observatory of the Self 3.1</li>
    <li>Rodrik Biersteker › OPEN</li>
    <li>Charlotte Mouwens › Natural Phenomena</li>
    <li>Daniel Maalman › Brainforest</li>
    <li>Domestic Data Streamers › Lights of Wild</li>
    <li>Wolf &amp; Bontekoe › Forest Grid</li>
    <li>REM atelier › Artificial Garden</li>
    <li>Ina Smits › Star Fishing</li>
    <li>Satellietgroep > Welcome to the water bubble!</li>
    <li>Twee filminstallaties van Janis Rafa</li>
    <li>Cinevan > Anybody out there?</li>
    </ol>

    <h2>Locaties Staatsbosbeheer</h2>

    <h3>Muziek <small>(groene bolletjes)</small></h3>

    <ol>
    <li>Hoor het suizen van de wind langs je oren op de Kikkerbult (vergeet ondertussen niet te genieten van het uitzicht)</li>
    <li>Ieder vogeltje zingt zoals ‘ie gebekt is op de Dodemansbol, of bij hoog water in de Kroon’s Polders</li>
    <li>In de Dorpsstraat is het een kakofonie van geluiden. Herken jij de vreemde vogel?</li>
    <li>Afterparty: Blijf nog even chillen (of kom terug) in je tentje op natuurkampeerterrein Lange Paal</li>
    </ol>

    <h3>Kunst <small>(rode bolletjes)</small></h3>

    <ol>
    <li>Ontdek de natuurlijke zandsculpturen op de Vliehors</li>
    <li>Wordt jouw natuurschilderij de nieuwe ‘zonnebloemen’? Kom naar Lange Paal en laat de kunstenaar in jezelf los</li>
    <li>Voel je als Mondriaan thuis in de kubistische Oude Kooi</li>
    </ol>

    <h3>Dj <small>(blauwe bolletjes)</small></h3>

    <ol>
    <li>Voeg als een echte DJ jouw eigen stijl en sound toe op Natuurkampeerterrein Lange Paal</li>
    <li>Creëer je eigen wall of sound al fluitend op een schelpenpaadje door de duinen</li>
    <li>Go with the flow met de nachtvlinders en insecten op de rand van bos en duin</li>
    </ol>

    <h3>Film <small>(zwarte bolletjes)</small></h3>

    <ol>
    <li>In de hoofdrol: Soay-schaapjes langs het Pad van 20</li>

    <li>In de hoofdrol: spectaculaire zonsondergang op het Noordzeestrand</li>
    <li>In de hoofdrol: ochtendgloren op de Waddenvelden van Lange Paal</li>
    </ol>
</div>
</div>

<div class="panzoom-parent">
        <img src="./assets/img/vlieland.png">
</div>


<script>
$(".panzoom-parent").panzoom({
    contain: 'invert',
    minScale: 1,
    increment: 1,
});
</script>