---
name: programma
url: /programma
controller: itgwo.controller.programmas
title: Programma
---


<div class="grid-block">
    <div class="grid-container page-programma">

    <center>
    <ul class="button-group">
    <li><a href="#">Don</a></li>
    <li><a href="#">Vrij</a></li>
    <li><a href="#">Zat</a></li>
    <li><a href="#">Zon</a></li>
    <li><a href="#">Alle</a></li>
    </ul>
    </center>

        <!-- grid for navigation -->
        <div class="grid-block small-up-2 medium-up-3 large-up-3">

            <div class="grid-content content-act" ng-repeat="speeltijd in speeltijden">
                <a ui-sref="bericht({ id: bericht.id })">
                    <article class="thema thema-{{ bericht.id }}" style="background: url({{ speeltijd.attributes.image.thumbnail }}); background-size: cover;">
<span>xxx</span>
                    <div class="caption">
                        <!-- <img src="{{ bericht.attributes.image.thumbnail }}" width="100" height="100"> -->
                        <h2>{{ speeltijd.attributes.starttijd | date : 'EEE H:mm' }} - {{ speeltijd.attributes.speellokatie }}</h2>
                        <h1 class="">{{ speeltijd.attributes.title }}</h1>
                    </div>
                    </article>
                </a>
            </div>
        </div>


    </div>
</div>

