---
name: programma
url: /programma
controller: itgwo.controller.programma
title: Programma
---

<style>

li.active a {
    background: #333 !important;
    text-decoration: underline;
}
</style>

<div class="grid-block">
    <div class="grid-container page-programma">

    <center>
        <ul class="button-group">
            <li ng-class="{active: filter == 'do'}"><a ui-sref="programma" ng-click="filter='do'">Don</a></li>
            <li ng-class="{active: filter == 'vr'}"><a ui-sref="programma" ng-click="filter='vr'">Vrij</a></li>
            <li ng-class="{active: filter == 'za'}"><a ui-sref="programma" ng-click="filter='za'">Zat</a></li>
            <li ng-class="{active: filter == 'zo'}"><a ui-sref="programma" ng-click="filter='zo'">Zon</a></li>
            <li ng-class="{active: filter == 'alle'}"><a ui-sref="programma" ng-click="filter='alle'">Alle</a></li>
        </ul>
    </center>

        <!-- grid for navigation -->
        <div class="grid-block small-up-2 medium-up-3 large-up-3">
            <div class="grid-content content-act {{ speeltijd.attributes.starttijd | date : 'EEE' }}" ng-repeat="speeltijd in speeltijden"
            ng-if="filter == (speeltijd.attributes.starttijd | date : 'EEE') || filter == 'alle'">

                <a ui-sref="onderdeel({ id: speeltijd.attributes.programmaonderdelen })">
                    <article class="thema thema-{{ speeltijd.id }}" style="background: url({{ speeltijd.attributes.image.thumbnail }}); background-size: 100%;">

                    <span>Dit moet je hier laten staan, Peter. Ja, echt! Als je dit weghaalt en het is een week later ineens stuk, dan ga ik het niet voor je fixen!</span>
                    <div class="caption">
                        <!-- <img src="{{ bericht.attributes.image.thumbnail }}" width="100" height="100"> -->
                        <h2><i class="fa fa-clock-o"></i> {{ speeltijd.attributes.starttijd | date : 'EEE H:mm' }} - {{ speeltijd.attributes.speellokatie }}</h2>
                        <h1 class="">{{ speeltijd.attributes.title }}</h1>
                    </div>
                    </article>
                </a>
            </div>
        </div>


    </div>
</div>

