---
name: programma
url: /programma
controller: itgwo.controller.programma
title: Programma
---

<div class="grid-block">
    <div class="grid-container page-programma">

        <div class="navigation">
            <a ng-class="{active: filter == 'do'}" ui-sref="programma" ng-click="filter='do'">Don</a>
            <a ng-class="{active: filter == 'vr'}" ui-sref="programma" ng-click="filter='vr'">Vrij</a>
            <a ng-class="{active: filter == 'za'}" ui-sref="programma" ng-click="filter='za'">Zat</a>
            <a ng-class="{active: filter == 'zo'}" ui-sref="programma" ng-click="filter='zo'">Zon</a>
            <a ng-class="{active: filter == 'alle'}" ui-sref="programma" ng-click="filter='alle'">Alle</a>
        </div>

        <!-- grid for navigation -->
        <div class="grid-block small-up-2 medium-up-3 large-up-3">
            <div class="grid-content content-act {{ speeltijd.attributes.starttijd | date : 'EEE' }}"
            ng-repeat="speeltijd in speeltijden"
            ng-if="(filter == (speeltijd.attributes.starttijd | date : 'EEE') || filter == 'alle')
                && (speeltijd.attributes.programmaonderdelen != 0)">

                <a ui-sref="onderdeel({ id: speeltijd.attributes.programmaonderdelen })">
                    <article class="thema thema-{{ speeltijd.id }}" style="background-image: url({{ speeltijd.attributes.image.thumbnail }});">

                    <span ng-if="favs[speeltijd.attributes.programmaonderdelen]" class="heart-fav" style="transform: rotate({{ randomRotate(speeltijd.id) }}deg);">
                       <i class="fa fa-heart"></i>
                    </span>

                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>

                    <div class="caption">
                        <!-- <img src="{{ bericht.attributes.image.thumbnail }}" width="100" height="100"> -->
                        <h2><i class="fa fa-clock-o"></i> {{ speeltijd.attributes.starttijd | date : 'EEE H:mm' }} - {{ speeltijd.attributes.speellokatie }}</h2>
                        <h1 class="">{{ speeltijd.attributes.title }}</h1>
                    </div>
                    </article>
                </a>
            </div>

            <p>&nbsp;</p>

        </div>


    </div>
</div>

