---
title: FAQ
url: /faq
name: faq
---

<h3>FAQ</h3>

<div class="grid-block">
    <div class="grid-content medium-8">
        <zf-accordion auto-open="false" collapsible="true" multi-open="true">
            <zf-accordion-item title="What does this app do?">
                <p>Nothing.</p>
            </zf-accordion-item>
            <zf-accordion-item title="How does it help me?">
                <p>It doesn't.</p>
            </zf-accordion-item>
            <zf-accordion-item title="How can I subscribe?">
                <p>You can't!</p>
            </zf-accordion-item>
        </zf-accordion>
    </div>
    <div class="grid-content medium-4">
        <h3>Sign up!</h3>
        <p>Here is my marketing copy</p>
    </div>
</div>
